.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  // or I can put opacity: 0 here and delete the above rule
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $grey-blue;
  scrollbar-color: #304057 #1d2636;
  color: white;
  width: 100rem;
  outline: $light-blue;
  padding: $l-size;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: calc(100vh - 150px);
  overflow-y: auto;

  .modal__title {
    font-weight: bold;
    margin: 0 0 $m-size 0;
    display: flex;
    justify-content: center;
  }

  .modal__subtitle {
    margin: 2rem 0;
    font-weight: lighter;
  }

  .modal__videos-name > a {
    color: $blue;
  }

  .modal__reviews {
    word-break: break-all;
  }

  .modal__similarMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .modal__similarMovies-pictures {
      margin: 0 2rem 1rem 0;
      width: 16rem;
      height: 21rem;
    }

    .modal__similarMovies-titles {
      margin: 0 0 3rem 0;
      display: flex;
      justify-content: center;
      text-align: center;
      max-width: 16rem;
    }
  }

  .modal__button {
    display: flex;
    justify-content: center;
    border: none;
    background: $grey-blue;
    color: white;
    font-weight: 500;
    padding-bottom: $l-size;
  }
}
