.search-aera {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  align-items: center;

  .title {
    font-weight: bold;
    color: $dark-grey;
  }

  .Now-Playing-Movies-button {
    font-weight: bold;
    background: none;
    background: lighten($dark-grey, 50%);
    padding: 0.5rem;
  }

}
